<!DOCTYPE html>
<html lang="{{ page.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="author" content="Axellite Leadership" />

        <link href="/assets/images/favicon.png" rel="icon" type="image/x-icon" />

        <title>{{ page.title }}</title>

        <!-- CSS -->
        <link href="/assets/css/main.min.css" rel="stylesheet" />
    </head>

    <body>
        {% include navigation.html %} {{ content }} {% include footer.html %}
        <script src="/assets/js/main.js"></script>
    </body>
</html>
